<div class="page-heading">
  Panel Form
</div>

<!-- <div class="container">
  <ul class="nav-tabs-custom">
    <li class="nav-item" [ngClass]="{'active-nav': activeTab == 'panel1'}" (click)="activeTab = 'panel1'">
      <span class="d-none d-sm-block">Panel 1</span>
    </li>
    <li class="nav-item" [ngClass]="{'active-nav': activeTab == 'panel2'}" (click)="activeTab = 'panel2'">
      <span class="d-none d-sm-block">Panel 2</span>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-panel" [ngClass]="{'active': activeTab == 'panel1'}">Panel 1 details</div>
    <div class="tab-panel" [ngClass]="{'active': activeTab == 'panel2'}">Panel 2 details</div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-4">
    <div class="container">
      <div class="title text-primary">Interviewer 1</div>
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
        <div *ngFor="let question of questions; let i = index" class="border-bottom pt-3">
          <div class="mb-4">
            <label for="formrow-firstname-input" class="form-label">{{i + 1}}. {{question.title}}</label>
            <div class="form-check mb-3 d-flex flex-row">
              <div>
                <input class="form-check-input" type="radio" name="panel1{{question.id}}" id="{{question.id}}Entry">
                <label class="form-check-label" for="{{question.id}}Entry">
                  Entry
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="panel1{{question.id}}"
                  id="{{question.id}}Intermediate">
                <label class="form-check-label" for="{{question.id}}Intermediate">
                  Intermediate
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="panel1{{question.id}}" id="{{question.id}}Expert">
                <label class="form-check-label" for="{{question.id}}Expert">
                  Expert
                </label>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="container">
      <div class="title text-primary">Interviewer 2</div>
      <form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
        <div *ngFor="let question of questions; let i = index" class="border-bottom pt-3">
          <div class="mb-4">
            <label for="formrow-firstname-input" class="form-label">{{i + 1}}. {{question.title}}</label>
            <div class="form-check mb-3 d-flex flex-row">
              <div>
                <input class="form-check-input" type="radio" name="panel2{{question.id}}"
                  id="panel2{{question.id}}Entry">
                <label class="form-check-label" for="panel2{{question.id}}Entry">
                  Entry
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="panel2{{question.id}}"
                  id="panel2{{question.id}}Intermediate">
                <label class="form-check-label" for="panel2{{question.id}}Intermediate">
                  Intermediate
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="panel2{{question.id}}"
                  id="panel2{{question.id}}Expert">
                <label class="form-check-label" for="panel2{{question.id}}Expert">
                  Expert
                </label>
              </div>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="text-center">
      <span class='button' (click)="onUpload()">Calculate
        <fa-icon [icon]="faPaperPlane"></fa-icon>
      </span>
    </div>

    <!-- Loading spinner -->
    <div class="text-center mt-3" [hidden]="!showLoader">
      <div class="spinner-border text-primary m-1" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="container mt-4" [hidden]='!showResponse'>
      <div class="title">Salary Prediction</div>
      <div class="max-range">
        <div class="available-range"></div>
        <div class="marker">
          <fa-icon [icon]="faMapMarker"></fa-icon>
        </div>
        <div class="expected">Expected</div>
      </div>
      <div>
        <span class="grid">
          <span class="grid-pol"></span>
          <span class="min-value">₹10L</span>
          <span class="grid-pol" style="left: 111px;"></span>
          <span class="min-value-prediction" style="left: 111px;">₹11L</span>
          <span class="grid-pol" style="left: 259px;"></span>
          <span class="max-value-prediction" style="left: 259px;">₹13.5L</span>
          <span class="grid-pol" style="left: 370px;"></span>
          <span class="max-value" style="left: 370px;">₹15L</span>
        </span>
      </div>

      <div class="pt-5">
        <label class="form-label">Salary Offered</label>
        <input type="number" class="form-control" name="salary-offered">
      </div>
    </div>
  </div>
</div>