.form-container {
    height: 400px;
    overflow: auto;
}

.max-range {
    height: 3px;
    border-bottom: 1.6px solid #efefef;
    margin: 30px 0;
    width: 360px;

    .available-range {
        border-bottom: 3px solid var(--primary);
        width: 120px;
        // margin-left: 120px;
    }

    .marker {
        position: absolute;
        margin-top: -20px;
        color: var(--primary);
        font-size: 17px;
    }

    .expected {
        position: absolute;
        margin-top: -26px;
        margin-left: 109px;
        font-size: 0.75em;
        font-weight: 500;
        color: #7f8591;
    }
}

.grid {
    position: absolute;
    margin-top: -30px;
    height: 30px;
    display: block;

    span {
        position: absolute;
        margin-left: -12px;
        margin-top: 8px;
        font-size: 0.8em;
        font-weight: 500;
        color: #8b8b8b;

        &.grid-pol {
            top: 0;
            left: 0;
            width: 1px;
            height: 8px;
            margin-top: 0 !important;
            background-color: #dedede;
            margin-left: 0 !important;
        }
    }
}

.sub {
    font-size: 0.8em;
}
