<nav>
  <div routerLink="/jd-scoring" routerLinkActive="active">JD Scoring</div>
  <div routerLink="/resume-screening" routerLinkActive="active">Resume Screening</div>
  <!-- <div routerLink="/hiring-mix" routerLinkActive="active">Hiring Mix</div> -->
  <div routerLink="/salary-optimization" routerLinkActive="active">Salary Optimization</div>
  <div routerLink="/attrition-prediction" routerLinkActive="active">Attrition Prediction</div>
  <div routerLink="/reward-recognition" routerLinkActive="active">Reward & Recognition</div>
</nav>