<div class="page-heading">
  Feedback
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-7">
      <div class="container">
        <table class="tbl-no-border">
          <tr class="odd">
            <th></th>
            <th>Technical</th>
            <th>Leadership</th>
            <th>Business</th>
          </tr>
          <tr class="even">
            <td>Quarter 1</td>
            <td>
              <ngb-rating [(rate)]="technicalQ1" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(technicalQ1 > 0)">{{technicalQ1}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="leadershipQ1" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(leadershipQ1 > 0)">{{leadershipQ1}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="businessQ1" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(businessQ1 > 0)">{{businessQ1}}</span>
            </td>
          </tr>
          <tr class="odd">
            <td>Quarter 2</td>
            <td>
              <ngb-rating [(rate)]="technicalQ2" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(technicalQ2 > 0)">{{technicalQ2}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="leadershipQ2" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(leadershipQ2 > 0)">{{leadershipQ2}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="businessQ2" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(businessQ2 > 0)">{{businessQ2}}</span>
            </td>
          </tr>
          <tr class="even">
            <td>Quarter 3</td>
            <td>
              <ngb-rating [(rate)]="technicalQ3" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(technicalQ3 > 0)">{{technicalQ3}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="leadershipQ3" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(leadershipQ3 > 0)">{{leadershipQ3}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="businessQ3" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(businessQ3 > 0)">{{businessQ3}}</span>
            </td>
          </tr>
          <tr class="odd">
            <td>Quarter 4</td>
            <td>
              <ngb-rating [(rate)]="technicalQ4" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(technicalQ4 > 0)">{{technicalQ4}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="leadershipQ4" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(leadershipQ4 > 0)">{{leadershipQ4}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="businessQ4" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(businessQ4 > 0)">{{businessQ4}}</span>
            </td>
          </tr>
          <tr class="dashed-border-top" [hidden]="!showResponse">
            <td class="font-medium">Annual</td>
            <td>
              <ngb-rating [(rate)]="technicalAnnual" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(technicalAnnual > 0)">{{technicalAnnual}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="leadershipAnnual" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(leadershipAnnual > 0)">{{leadershipAnnual}}</span>
            </td>
            <td>
              <ngb-rating [(rate)]="businessAnnual" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(businessAnnual > 0)">{{businessAnnual}}</span>
            </td>
          </tr>
        </table>

        <div class="mt-4 row">
          <div class="col-sm-4 vertical-center">
            Average promotion velocity:
          </div>
          <div class="col-sm-6">
            <span class="count">5</span>years
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 vertical-center">
            Time in the rank:
          </div>
          <div class="col-sm-3">
            <input type="number" class="form-control" formControlName="timeInRank" id="timeInRank">
          </div>
          <!-- Time in the rank: <span class="count">3</span> <span class="year">years</span> -->
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="container">
        <div class="sub-title">Initiatives</div>
        <div class="row">
          <div class="col-sm-6">
            <label class="form-label">Dolar saving</label>
            <input type="number" class="form-control" name="dolar-saving">
          </div>
          <div class="col-sm-6">
            <label class="form-label">NPS Improvement</label>
            <input type="number" class="form-control" name="dolar-saving">
          </div>
        </div>

        <div class="text-right mt-4">
          <span class='button' (click)="calculate()">Calculate
            <fa-icon [icon]="faCalculator"></fa-icon>
          </span>
        </div>
      </div>

      <!-- Loading spinner -->
      <div class="text-center mt-3" [hidden]="!showLoader">
        <div class="spinner-border text-primary m-1" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="container mt-4" [hidden]='!showResponse'>
        <div class="sub-title">Score</div>
        <div class="row">
          <div class="col-sm-6">
            <div class="row mt-1">
              <div class="col-sm-6">Avg. Rating</div>
              <div class="col-sm-6 no-padding">
                <ngb-rating [(rate)]="avgRating" [readonly]="true" max="5"></ngb-rating><span class="rating-value"
                  [hidden]="!(avgRating > 0)">{{avgRating}}</span>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-6">Initiative</div>
              <div class="col-sm-6 no-padding">
                <ngb-rating [(rate)]="initiativeScore" [readonly]="true" max="5"></ngb-rating><span class="rating-value"
                  [hidden]="!(initiativeScore > 0)">{{initiativeScore}}</span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="total">Total</div>
            <div class="sub">Avg. Rating(80%) + Initiative(20%)</div>
            <ngb-rating [(rate)]="totalScore" [readonly]="true" max="5"></ngb-rating><span class="rating-value"
              [hidden]="!(totalScore > 0)">{{totalScore}}</span>
            <!-- <div class="row">
            <div class="col-sm-3">Total</div>
            <div class="col-sm-4 no-padding">
              <ngb-rating [(rate)]="totalScore" [readonly]="true" max="5"></ngb-rating><span class="rating-value"
                [hidden]="!(totalScore > 0)">{{totalScore}}</span>
            </div>
          </div> -->
          </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5">
          <div class="sub-title">Recommendations</div>
          <div>Eligible for Promotion: <span class="eligibility"
              [ngClass]="isEligibleForPromotion ? 'yes' : 'no'">{{isEligibleForPromotion ? 'Yes' : 'No'}}</span></div>
          <!-- <div class="row">
          <div class="col-sm-5"> </div>
          <div class="col-sm-4 no-padding">            
            <div class="form-check mb-3 d-flex flex-row">
              <div>
                <input class="form-check-input" type="radio" name="promotion" id="yes" checked disabled>
                <label class="form-check-label" for="yes">
                  Yes
                </label>
              </div>
              <div>
                <input class="form-check-input" type="radio" name="promotion" id="no" disabled>
                <label class="form-check-label" for="no">
                  No
                </label>
              </div>
            </div>
          </div>
        </div> -->

          <div class="text-right mt-4">
            <span class='button' (click)="onSubmit()">Submit
              <fa-icon [icon]="faPaperPlane"></fa-icon>
            </span>
          </div>
        </form>
      </div>
    </div>

  </div>
</form>